.title{
    text-align: center;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5 );
}

.buttons{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5 );
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    margin: 20px;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.pokeGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pokeCard{
    margin-right: 0%;
    display: block;
    border-color: transparent;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5 );
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    animation-duration: 2s;
    animation-name: slidein;
}

.pokeCard.hidden{
    display: none;
}

.pokeCard.out{
    animation-duration: 1s;
    animation-name: slideout;
}

.pokeImg{
    width: 250px
}

@keyframes slideout{
    from {
        margin-right: 0%;
        z-index: 10;
    }

    to {
        margin-right: 150%;
        opacity: 0;
        z-index: 10;
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 80%;
    }

    to {
        margin-left: 0%;
    }
}